*{
    margin: 0;
    padding: 0;
}

.containerone{
    width: 100%;
    height: 800px;
    background-color: rgb(212, 241, 241);
}

.home-page{
width: 1180px;
height: 700px;
background-color: gray;
margin: 80px;
border-radius: 5px;


}

.bina-az{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    
    
}


/* .boxone{
    border: 2px solid rgb(107, 107, 107);
    border-radius: 5px;
    border: ;
    margin-left: 50px;
    margin-top: 50px;
    width: 274px;
    height: 300px;  
    position: relative;
      
} */

.anonce{
    width: 234px;
    height: 270px;   
    background-color: rgb(241, 238, 233);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    
    
    
}

.anonce .img{
    margin: 10px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;  
    

    
}

.price{
    background-color: rgb(228, 27, 151);
    width: 95px;
    height: 25px;
    padding: 4px;
    font-size: 17px;
    border-radius: 7px;
    text-align: center;
    position: absolute;
    margin-left: 3px;


}
.fa-heart{
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgb(240, 235, 235);    
    font-size: 25px;
   
    
}

.fa-heart:hover{
    color: red;
}

.title{
    width: 180px;
    height: 35px;
    position: absolute;
    margin-top: 30px;
    font-size: 17px;
    line-height: 12px;
    padding: 10px;
}

.data-detail{
    position: absolute;
    width: 100px;
    height: 30px;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 70px;
    color: gray;
    
}

.fa-crown {
    position: absolute;
    bottom: 0,05px;
    left: 175px;
    width: 10px;

}
.fa-crown:hover{
    color: rgba(164, 164, 20, 0.86);
}
.fa-gem{
    position: absolute;
    bottom: 15px;
    left: 195px;
    
}

.fa-gem:hover{
    color: rgba(164, 164, 20, 0.86);
}



/* second card */
.containertwo{
    width: 100%;
    height: 800px;
    background-color: rgba(241, 76, 76, 0.226);

}

.newbina{
    width: 1180px;
height: 700px;
background-color: rgb(174, 169, 169);
margin: 80px;
border-radius: 5px;
display: flex;
flex-wrap: wrap;
align-items: center;

}




.home{
    width: 236px;
    height: 270px;
    background-color: rgb(236, 243, 243);    
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

.home:hover{
    box-shadow: 20px 22px 43px 4px rgba(123,112,112,0.75);
-webkit-box-shadow: 20px 22px 43px 4px rgba(123,112,112,0.75);
-moz-box-shadow: 20px 22px 43px 4px rgba(123,112,112,0.75);
}

.apart img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}



.price-s{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    color: black;
    margin-bottom: 3px;
    
}

.location{
    font-size: 17px;
    margin-left: 10px;
    margin-bottom: 1px;
    
}

.information{
    font-size: 15px;
    color: rgb(16, 15, 15);
    margin-left: 10px;
    margin-bottom: 3px;
    

}

.date{
    font-size: 14px;
    color: gray;
    margin-left: 10px;
    
}


/* icon check */
.check .iconcheck{
    color: white;
    background-color: green;
    position: absolute;
    top: 8px;
    left: 4px;
    width: 13px;
    height: 15px;    
    border-radius: 50%;
    margin: 5px;
    padding: 3px 3px 3px 6px;
    cursor: pointer;

}

.home .check i{
    font-size: 12px;   
}

.check-info{
    width: 55px;
    height: 12px;
    font-size: 10px;
    position: absolute;
    background-color: green;
    color: white;
    border-radius: 10px;
    text-indent: 5px;
    top: 30px;
    left: 15px;
    display: none;

}

.check:hover .check-info {
    display: block;    
}

/* icon percent */

.percent .fa-percent{
    background-color: rgba(247, 247, 10, 0.916);
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 30px;
    width: 10px;
    height: 13px;    
    border-radius: 50%;
    margin: 5px;
    padding: 3px 5px 3px 5px;
    cursor: pointer;

}
.fa-percent{
    font-size: 13px;
}

.percent-info{
    width: 55px;
    height: 12px;
    font-size: 10px;
    position: absolute;
    background-color: rgba(247, 247, 10, 0.916);
    color: white;
    border-radius: 10px;
    text-indent: 5px;
    top: 30px;
    left: 40px;
    display: none;
    
}

.percent:hover .percent-info{
    display: block;
}

/* icon repaired */

.repaired .repair{
    background-color: rgba(247, 10, 10, 0.916);
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 55px;
    width: 15px;
    height: 16px;    
    border-radius: 50%;
    margin: 8px;
    padding: 4px 0px 0px 5px;
    cursor: pointer;
}
.repair{
    font-size: 13px;
}

.repaired-info{
    width: 55px;
    height: 12px;
    font-size: 10px;
    position: absolute;
    background-color: rgba(247, 10, 10, 0.916);
    color: white;
    border-radius: 10px;
    text-indent: 5px;
    top: 30px;
    left: 70px;
    display: none;

}

.repaired:hover .repaired-info{
    display: block;
}


/* icon like */

.like{
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 5px;
    width: 13px;
    height: 15px;    
    border-radius: 50%;    
    padding: 3px 2px 3px 2px;
    cursor: pointer;
}

.like:hover .fa-heart{
    color: red;
    font-size: 20px;
}

/* left */
.left{
    background-color: rgba(120, 112, 112, 0.488);
    color: rgb(250, 249, 249);
    border-radius: 50%;
    position: absolute;    
    left: 10px;
    top: 80px;
    width: 20px;
    height: 20px;    
    border-radius: 50%;    
    padding: 3px 2px 3px 2px;
    cursor: pointer;
    visibility: hidden;
}

.home:hover .left{
    visibility: visible;
    color: yellow;
}


.right{
    background-color: rgba(120, 112, 112, 0.488);
    color: rgb(250, 249, 249);
    border-radius: 50%;
    position: absolute;   
    right: 10px; 
    top: 80px;
    width: 20px;
    height: 20px;    
    border-radius: 50%;
    padding: 3px 2px 3px 2px;
    cursor: pointer;
    visibility: hidden;
    
    
}

.home:hover .right{
    visibility: visible;
    color: yellow;
}


/* section sign-up */
.containerthree{
    width: 100%;
    height: 1000px;
    background-color: rgba(227, 229, 70, 0.226);

}


.sign-up{
    background-color: beige;
    width: 1180px;
height: 700px;
margin: 80px;
border-radius: 15px;
display: flex;
justify-content: center;
padding: 100px;

}

.sign-box{
    width: 1000px;
    height: 550px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 80px;
    justify-content: space-around;
    font-size: 15px;
    align-items: center;
    
    
}


.signup-girl h1{
    font-size: 70px;
    font-family: sans-serif;
    margin-bottom: 50px;
}
.signup-girl input{
    padding: 8px;
    border: none;
    border-bottom: 2px solid gray;
    margin-bottom: 40px;
    width: 445px;
    
}

.signgirl img{
    width: 350px;
    height: 350px;
    margin-bottom: 75px;
    
    
}
.signgirl {
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
}
 
form .checkbox{
    display: flex;
    flex-direction: row;

    
    font-family: sans-serif;
    font-size: 12px;
}


.signup-girl button{
    width: 170px;
    height: 70px;
    border-radius: 10px;
    background-color: rgba(91, 180, 236, 0.868);
    font-size: 20px;
    color: white;
    border: none;
    font-weight: 550;
}



/* signup boy */
.containerfour{
    width: 100%;
    height: 1000px;
    background-color: rgba(51, 255, 140, 0.226);
}
.signup-boy h2{
    font-size: 60px;
    font-weight: 800;
    font-family: sans-serif;
    margin-bottom: 50px;
}
.signup-boy input{
    padding: 8px;
    border: none;
    border-bottom: 2px solid gray;
    margin-bottom: 40px;
    width: 445px;
    
}



.remember{
    display: flex;
    flex-direction: row;
    width: 100px;
    
}

.signboy img{
    width: 450px;
    height: 450px;
    margin-bottom: 35px;

}
.signboy {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.sign-up-boy{
    background-color: rgb(237, 237, 182);
    width: 1180px;
height: 700px;
margin: 80px;
border-radius: 15px;
display: flex;
justify-content: center;
padding: 100px;

}

.sign-boxone{
    width: 1000px;
    height: 550px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 80px;
    justify-content: space-around;
    font-size: 15px;
    align-items: center;
    
    
}

.signup-boy h1{
    font-size: 70px;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.signup-boy input{
    padding: 8px;
    border: none;
    border-bottom: 2px solid gray;
    margin-bottom: 40px;
    width: 300px;
    
}
.signup-boy button{
    width: 150px;
    height: 60px;
    border-radius: 8px;
    border: none;
    background-color: rgba(91, 180, 236, 0.868);
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    margin-bottom: 90px;
    font-weight: 550;
}

.icon-three{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    font-family: sans-serif;
    align-items: center;
    letter-spacing: 1px;
}
.icon-three i{
    font-size: 30px;
}

.icon-three .fa-square-facebook{
    color: rgb(28, 28, 117);
}
.icon-three .fa-square-google-plus{
    color: red;
}

.icon-three .fa-square-twitter{
    color: blue;


}

/* new section register */

.double-register{
    width: 100%;
    height: 800px;
    background-color: rgba(49, 16, 79, 0.564);
    padding-top: 170px;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.container-register {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 700px;
}

.general-info{
    width: 50%;
    height: 100%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 50px;
          
}

.general-input{
    display: flex;
    flex-direction: column;
}

.select-general-info{
    border: none;
    border-bottom: 1px solid gray;    
    margin-bottom: 60px;
    font-size: 20px;    
    color: gray;
    text-indent: 5px;
}
.name input{
    border: none;
    border-bottom: 1px solid gray;    
    margin-bottom: 60px;
    font-size: 20px;    
    color: gray;
    text-indent: 5px;
    
}
.general-input input{
    border: none;
    border-bottom: 1px solid gray;    
    margin-bottom: 60px;
    font-size: 20px;    
    color: gray;
    text-indent: 5px;
}
.business-emplo input, select{
    border: none;
    border-bottom: 1px solid gray;    
    margin-bottom: 60px;
    font-size: 20px;    
    color: gray;
    
    
}


.employees{
    width: 50%;
}


.general-info h1{
    color: blue;
    font-size: 40px;    
    margin-bottom: 50px;
    text-align: left;
}
.contact-details h1{
    color: white;
    font-size: 40px;    
    margin-bottom: 50px;
    text-align: left;
}

.contact-details{
   width: 50%;
    height: 100%;
    background-color: blue;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    color: white;
    
}

.contact-input input{
    border: none;
    border-bottom: 1px solid gray;    
    margin-bottom: 60px;
    font-size: 20px;    
    color: white;
    text-indent: 5px;
    background-color: blue;

}

.contact-input select{
    background-color: blue;
    width: 100;
}
.mail {
    width: 100%;
}
.country {
    width: 100%;
}
.place{
    width: 50%;
}


.register-check{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    letter-spacing: 1.5px;
}
.contact-details button{
    width: 220px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: white;
    font-size: 20px;
    color: black;
    font-family: sans-serif;
    font-weight: 550;
    letter-spacing: 1px;
    
}

